# Dependencies
node_modules/
frontend/node_modules/

# .NET build output
**/obj/
**/bin/

# Aider
.aider*

# Environment
.env
*.env.local

**/bin/
**/obj/
*.db
*.db-shm
*.db-wal

.terraform/
terraform-gcp/environments/prod/terraform.tfvars
argocd.exe
*.tfvars
